@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f5f5f5;
    line-height: 1.6;
}

/* Rolling Header Styles */
.navigation-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000; /* Ensure it stays on top */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navigation-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation-header nav ul li {
    margin: 0 15px;
}

.navigation-header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navigation-header nav ul li a:hover {
    color: #e91e63; /* Color for hover effect */
}

header {
    background-color: #e91e63;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    animation: drop 1s ease-out;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.intro-image {
    width: 50%; /* Adjust this percentage as needed */
    max-width: 400px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 20px;
}

.content h2, .content h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-top: 0;
    animation: drop 1s ease-out;
}

.content p, .content ul {
    font-size: 1.2em;
}

.content ul {
    list-style: disc;
    margin: 0;
    padding-left: 20px;
}

.content li {
    margin-bottom: 10px;
}

@keyframes drop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
